[Unit]
Description=Prometheus systemd service unit
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=monitor
Group=monitor
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/monitor/prometheus/prometheus \
--config.file=/monitor/prometheus/prometheus.yml \
--storage.tsdb.path=/data/prometheus

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
